<div class="container-fluid">
  <div class="row" style="height: 100vh;">

    <app-sidebar></app-sidebar>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Detail</h1>
        <!--<div class="btn-toolbar mb-2 mb-md-0">-->
        <!--<div class="btn-group mr-2">-->
        <!--<button class="btn btn-sm btn-outline-secondary">Share</button>-->
        <!--<button class="btn btn-sm btn-outline-secondary">Export</button>-->
        <!--</div>-->
        <!--<button class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
        <!--<span data-feather="calendar"></span>-->
        <!--This week-->
        <!--</button>-->
        <!--</div>-->
      </div>

      <div *ngIf="class as c">
        <h3>{{ c.loc.uri }}</h3>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div><label>Duplicate lines: </label>{{ 0 }}</div>
            <div><label>Duplicate percentage: </label>{{ 0 }}</div>
          </div>
          <div class="col-md-6">
            <code>{{ c.content }}</code>
          </div>
        </div>
        <hr>
        <div>
          <h5>Clones</h5>
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
              <tr>
                <th>Type</th>
                <th>Weight</th>
                <th>Uri</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let clone of c.clones">
                <!--<td>{{ d.type }}</td>-->
                <!--<td>{{ d.weight }}</td>-->
                <!--&lt;!&ndash;<td><a [routerLink]="['/detail', c.loc.uri]">{{ c.getLoc().getUri() }}</a></td>&ndash;&gt;-->
                <!--<td>{{ d.getUris().join(", ") }}</td>-->
              </tr>
              <tr></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>
