<div class="container-fluid">
  <div class="row" style="height: 100vh;">

    <!--<app-sidebar></app-sidebar>-->

    <main role="main">
      <div class="row">
        <div class="col-md-12">
          <graph *ngIf="visualize" [nodes]="nodes" [links]="links"></graph>
        </div>
      </div>

      <!--<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">-->
        <!--<h1 class="h2">Overview</h1>-->
        <!--&lt;!&ndash;<div class="btn-toolbar mb-2 mb-md-0">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="btn-group mr-2">&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="btn btn-sm btn-outline-secondary">Share</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="btn btn-sm btn-outline-secondary">Export</button>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<button class="btn btn-sm btn-outline-secondary dropdown-toggle">&ndash;&gt;-->
            <!--&lt;!&ndash;<span data-feather="calendar"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;This week&ndash;&gt;-->
          <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</div>-->

      <div class="table-responsive">
        <table *ngIf="false" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Clones</th>
            <th>Duplicate lines</th>
            <th>Relative Duplication</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of classes">
            <td><a [routerLink]="['/detail', c.loc.uri]">{{ c.getFullName() }}</a></td>
            <td>{{ c.clones.length }}</td>
            <td>{{ c.getDuplicateLines() }}</td>
            <td>{{ c.getDuplicatePercentage() }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
