<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/">Clone Detector v1.0</a>
  <a class="col-sm-3 col-md-2 mr-0" routerLink="/">Overview</a>
  <a class="col-sm-3 col-md-2 mr-0" routerLink="/statistics">Statistics</a>
  <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" #searchInput>-->

  <ul class="navbar-nav px-3">
    <div ngbDropdown *ngIf="projects.length" class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select project</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="position: absolute;">
        <button class="dropdown-item" *ngFor="let project of projects" (click)="onAnalyze(project)">{{ project }}</button>
      </div>
    </div>
  </ul>
</nav>
